<h1>Editing library book</h1>

<%= render "form", library_book: @library_book %>

<br>

<div>
  <%= link_to "Show this library book", @library_book %> |
  <%= link_to "Back to library books", library_books_path %>
</div>
